
<div class="container">
    <div class="col-sm-4"></div>
    
    <div class="col-sm-4" style="margin-top: 30px">
    
    <h1 align="center">Talent Hiree</h1>
      <!-- <div class="jumbotron"> -->
    
    <form action = "LoginController">
    <table align="center" class="table">
    <thead>
    <tr><th colspan="3" align="center"><h3>Login</h3></th></tr></thead>
    <tr><td colspan="2"><img class="img-circle" alt="logo" src="..\assets\loginpic.png"></td><tr>
    <tr><td><b>Username:</b></td>
    <td><input type = text name = "user" ></td></tr>
    <tr><td><b>Password</b></td>
    <td><input type = password name = "pwd"></td></tr>
    <tr><td><input type = submit value= login></td><td><a href="password.jsp">change password</a></td></tr>
    <tr><td colspan="2"><a href = signup.jsp>Are u new user? sign up here</a></td></tr>
    
    
    </table>
    </form>
    
    <!-- </div> -->
    </div>
    </div>